.imagePage{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    padding: 2rem 2rem 2rem 2rem;
}
.imagePage .image2{
    border-radius: 50%;
    overflow: hidden;
    width: 70vh;
    height: 70vh;
    background-color: rebeccapurple;
}
.imagePage .image2 img{
    transform: translateY(-35%);
    object-fit: cover;
    height: 120vw;
}
